.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


* {
  box-sizing: border-box;
}

body {
  background: rgba(9, 53, 69, 1);
}

.app {
  text-align: center;
}

.Container_sign {
  display: grid;
  place-content: center;
}

.Sign_head {
  font: Montserrat;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  align-items: center;
  padding-left: 25px;
  color: rgba(255, 255, 255, 1);
}

.Contain_em {
  background-color: rgba(34, 73, 87, 1);
  width: 300px;
  height: 45px;
  border-radius: 10px;
  font-size: 24px;
  padding-left: 9px;
}

.Inp_em {
  background-color: rgba(34, 73, 87, 1);
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  border: none;
}


.Contain_pass {
  background-color: rgba(34, 73, 87, 1);
  width: 300px;
  height: 45px;
  border-radius: 10px;
  margin-top: 1.8vw;
  font-size: 24px;
  padding-left: 9px;

}

.Inp_pass {
  background-color: rgba(34, 73, 87, 1);
  font-weight: 400;
  font-size: 14px;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  border: none;
}

.Rem_me {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  align-items: center;
  width: 108px;
  top: 478px;
  left: 679px;
  color: rgba(255, 255, 255, 1);

}

.sign_btn {
  background-color: rgba(43, 209, 126, 1);
  width: 300px;
  height: 54px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  margin-top: 1.5vw;
  align-items: center;
  font-size: 16px;
  border: none;


}

.mar_rem {
  margin-top: 1vw;
  padding-left: 5vw;
}

.wave-container {
  position: relative;
  height: 100px;
  /* Adjust height as needed */
  overflow: hidden;
  margin-top: 8.6vw;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200%;
  /* Make it wider than the container */
  height: 100px;
  background: #f0f0f0;
  border-radius: 100%;
  /* Rounded edges */
  animation: wave-animation 4s linear infinite;
}

.wave:nth-child(1) {
  animation-delay: 0s;
  background: rgba(229, 229, 229, 0.13)
    /* First wave color */
}

.wave:nth-child(2) {
  animation-delay: -2s;
  background: rgba(32, 223, 127, 0.09)
    /* Second wave color */
}

.wave:nth-child(3) {
  animation-delay: -3s;
  background: rgba(0, 0, 255, 0.5);
  /* Third wave color */
}

.wave:nth-child(4) {
  animation-delay: -1s;
  background: rgba(255, 255, 0, 0.5);
  /* Fourth wave color */
}

@keyframes wave-animation {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
    /* Move left */
  }
}

.movie-container {
  padding: 6vw;
  /* Add some padding around the container */
}

.movie-row {
  display: flex;
  /* Use flexbox for row layout */
  justify-content: space-between;
  /* Distribute space evenly */
  margin-bottom: 20px;
  /* Space between rows */
}

.movie-card {
  width: 272px;
  height: 504px;
  border: 12px;
  gap: 16px;
  background-color: rgba(9, 44, 57, 1);
  border-radius: 12px;
}

.movie_head {
  display: flex;
  justify-content: space-between;
  /* padding-left: 6vw; */
  padding-right: 6vw
    /* padding: 28px; */
}

.movie_name {
  padding-left: 6vw;
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  text-align: center;
}

.movie_log {
  padding-top: 3vw;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  text-align: center;
}

.movie-image {
  padding-left: 5px;
  padding-top: 6px;
  width: 266px;
  /* Make the image responsive */
  height: 400px;
  /* Maintain aspect ratio */
  border-radius: 12px;
  /* Optional: round the image corners */
}

.mov_head {
  color: rgba(255, 255, 255, 1);
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
}


.mov_year {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  padding-left: 10px;
  font-weight: 400;
}

.icon {
  padding: 11px;

}

.plus-icon {
  font-size: 2vw;
  padding-left: 14px;
}

.pag_mov {
  display: flex;
  justify-content: center;
}

.new-movie-container {
  display: flex;
  justify-content: space-evenly;
}


.details-section {
  margin-top: 9vw;

}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 3vw;
}


.inp_file {
  width: 373px;
  background-color: rgba(34, 73, 87, 1);
  height: 404px;
  border-radius: 10px;
  border: 2px;
  border: 2px dashed white;
}

.crev_header {
  font-weight: 600;
  font-size: 48px;
  color: #f0f0f0;
}

.pra_class {

  color: white;
  font-size: 14px;
  font-weight: 400;
}

.file_div {
  border-radius: 10px;
  padding-left: 8vw;
  /* display: flex; */
  justify-content: center;
  padding-top: 14vw;
  background-color: rgba(34, 73, 87, 1);
  
}



.prag_class {
  color: white;
  padding-left: 3vw;
}


.name_mov {
  background-color: rgba(34, 73, 87, 1);
  height: 45px;
  width: 362px;
  border-radius: 10px;
  border: none;

}

.pub_yer {
  margin-top: 1.5vw;
  background-color: #224957;
  border-radius: 10px;
  height: 45px;
  width: 216px;
  border: none;

}

.canc_btn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  height: 56px;
  width: 167px;
  border: 1px solid white;
  background: rgba(9, 53, 69, 1);


}

.sub_btnn {
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-radius: 10px;
  height: 56px;
  width: 167px;
  border: none;
  background-color: rgba(43, 209, 126, 1);
}

.can_sub {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.name_mov::placeholder {
  color: white; /* Change the color of the placeholder text */
  font-size: 14px; /* Change the font size */
  opacity: 1; /* Ensure the opacity is set to 1 for visibility */
  padding-left: 1vw;
}
.pub_yer::placeholder {
  color: white; /* Change the color of the placeholder text */
  font-size: 14px; /* Change the font size */
  opacity: 1; /* Ensure the opacity is set to 1 for visibility */
  padding-left: 1vw;
}

.Inp_em::placeholder{
  color: white; /* Change the color of the placeholder text */
  font-size: 14px; /* Change the font size */
  opacity: 1; /* Ensure the opacity is set to 1 for visibility */
  padding-left: 1vw;
  background-color: rgba(34, 73, 87, 1);
}

.Inp_pass::placeholder{
  color: white; /* Change the color of the placeholder text */
  font-size: 14px; /* Change the font size */
  opacity: 1; /* Ensure the opacity is set to 1 for visibility */
  padding-left: 1vw;
  background-color: rgba(34, 73, 87, 1);
}

.page-btn{
  background: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: none;
}

.pagination {
  display: flex;
  gap: 12px;
}

.page_num.active {
  width: 32px;
  height: 32px;
  color: white;
  border-radius: 4px;
  background-color: rgba(43, 209, 126, 1);
  border: none;

}

.page_num {
  width: 32px;
  border: none;
  height: 32px;
  color: white;
  border-radius: 4px;
  background-color: rgba(9, 44, 57, 1)
}

.empty{
  display: grid;
  justify-content: center;
  margin-top: 16vw;
}

.emp_head{
  color: white;
  font-size: 48px;
  font-weight: 600;

}

.sub_mob{
  background-color: rgba(43, 209, 126, 1);
color: white;
width: 202px;
height: 56px;
border: none;
border-radius: 10px;
font-size: 16px;
font-weight: 700;
}


.new_aad{
  padding-left: 7vw;
}